<nav class="bg-primary-color">
  <!-- Top section -->
  <div class="w-[calc(100%-120px)] mx-auto py-2 flex justify-between items-center border-b border-gray-400">
    <div class="flex items-center gap-4 text-white">
      <a routerLink="/main/register" routerLinkActive="text-secondary-color" class="px-3 py-1
      hover:text-secondary-color duration-300 hover:cursor-pointer">انشاء حساب</a>
      <a routerLink="login" routerLinkActive="text-secondary-color" class="px-3 py-1
      hover:text-secondary-color duration-300 hover:cursor-pointer">تسجيل الدخول</a>
    </div>
    <div class="flex items-center gap-4">
      <img src="../../../assets/images/title-logo.png" alt="title logo" class="h-12">
      <img src="../../../assets/images/logo.png" alt="logo" class="h-14">
    </div>
  </div>

  <!-- Bottom section -->
   <div class="flex justify-between items-center w-[calc(100%-120px)] mx-auto  py-4 ">
    <div class="flex items-center gap-2">
    <div class="flex justify-end items-center gap-4">
      <div class="bg-[#152D5A] p-[14.5px] rounded-lg flex items-center gap-3
       hover:cursor-pointer hover:bg-[#152D5A]/50 duration-300">
       <img src="../../../assets/icons/arrow-down.svg" alt="arrow-down" class="size-[1rem]">
        <img src="../../../assets/icons/lang.svg" alt="language" class="size-[1rem]">
      </div>
      <div class="bg-[#152D5A] px-[14.5px] py-[14px] rounded-lg hover:cursor-pointer hover:bg-[#152D5A]/50 duration-300" >
      <img src="../../../assets/icons/search.svg" class="size-[1rem]">
    </div>
    </div>
  </div>
  <div class="">
    <ul class="flex  justify-end items-center gap-6 text-white duration-300">
      <div class="flex items-center gap-3 hover:cursor-pointer hover:text-secondary-color">
        <a href="#" class="hover:text-secondary-color text-[18px] duration-300">المزيد</a>
        <img src="../../../assets/icons/chervon-down.svg" alt="arrow-down" class="size-3">
      </div>
      <div class="flex items-center gap-3 hover:cursor-pointer hover:text-secondary-color">
        <a href="#" class="hover:text-secondary-color text-[18px] duration-300">المكتبة</a>
        <img src="../../../assets/icons/chervon-down.svg" alt="arrow-down" class="size-3">
      </div>
      <li><a href="#" class="hover:text-secondary-color text-[18px] duration-300">عن المعهد</a></li>
      <li><a href="#" class="hover:text-secondary-color text-[18px] duration-300">شركاؤنا</a></li>
      <li><a href="#" class="hover:text-secondary-color text-[18px] duration-300">المجلة</a></li>
      <div class="flex items-center gap-3 hover:cursor-pointer hover:text-secondary-color">
        <a href="#" class="hover:text-secondary-color text-[18px] duration-300">الدورات</a>
        <img src="../../../assets/icons/chervon-down.svg" alt="arrow-down" class="size-3">
      </div>
      <div class="flex items-center gap-3 hover:cursor-pointer hover:text-secondary-color">
        <a href="#" class="hover:text-secondary-color text-[18px] duration-300">الندوات</a>
        <img src="../../../assets/icons/chervon-down.svg" alt="arrow-down" class="size-3">
      </div>
      <li><a href="#" class="hover:text-secondary-color text-[18px] duration-300">اخر الاخبار</a></li>
      <li><a routerLink="/main/home" routerLinkActive="text-secondary-color" class="hover:text-secondary-color text-[18px] duration-300">الرئيسية</a></li>
    </ul>
  </div>
</div>
</nav>
